/* ICONS.STYL ======================================= */

i.icon
    flexbox()
    flex-center()
    width: 40px
    height: 40px

    &.calendar
        background: url("../img/icons/icon-calendar.svg") center no-repeat
        background-size: 30px

    &.chat
        background: url("../img/icons/icon-chat.svg") center no-repeat
        background-size: 36px

    &.team
        background: url("../img/icons/icon-team.svg") center no-repeat
        background-size: 40px

    &.bed
        background: url("../img/icons/icon-bed.svg") center no-repeat
        background-size: 30px

    &.map
        background: url("../img/icons/icon-map.svg") center no-repeat
        background-size: 30px


a.social
    width: 20px
    height: 20px
    flexbox()
    flex-center()
    filter: grayscale(100%)

    &:hover
        filter: grayscale(0)






