/* MAIN.STYL ======================================= */

/* import base styl */
@import 'base/normalize'
@import 'base/colorPalete'
@import 'base/mixins'
@import 'base/typography'
@import 'base/global'

/* import elements styl */
@import 'elements/button'
@import 'elements/checkbox'
@import 'elements/input'
@import 'elements/icons'

/* import groups styl */
@import 'groups/navigations'

/* import sections styl */
@import 'sections/hero'
@import 'sections/about'
@import 'sections/numbers'
@import 'sections/speakers'
@import 'sections/schedule'
@import 'sections/download'
@import 'sections/testimonials'
@import 'sections/tickets'
@import 'sections/previous'
@import 'sections/location'
@import 'sections/submission'
@import 'sections/sponsors'
@import 'sections/footer'
@import 'sections/codeOfConduct'
@import 'sections/note'
@import 'sections/jobs'










