/* QUERY.STYL ======================================= */

@media only screen and (max-width: 1401px), only screen and (max-device-width: 1401px) {

    .heroDate {
        font-size: 20px;
        margin: 0px 120px 200px 0;
    }

}


@media only screen and (max-width: 1201px), only screen and (max-device-width: 1201px) {

    .container {
        width: 960px;
    }
    #about .about__event img {
        left: -120px;
    }
    #numbers .numbers .numbers__item {
        text-align: center;
    }
    .heroDate {
        font-size: 20px;
        margin: 0px 90px 200px 0;
    }


}/* media end */



@media only screen and (max-width: 981px), only screen and (max-device-width: 981px) {

    .mobile-hide {
        display: none
    }
    .mobile-show {
        display: block
    }

    .section .container {
        flex-flow: column nowrap;
        width: 90%;
        /* iOS 11 */
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
        /* iOS 11.2+ */
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }



    .navBar {
        position: fixed;
        padding-top: 0;
        padding: 0 5%;
        box-sizing: border-box;
    }
    .navBar__nav {
        position: fixed;
        top: 0;
        right: -120%;
        width: 100vw;
        height: 100vh;
        background: #0f1f31;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navBar .navBar__logo {
        width: 51px;
        height 34px;
        position: relative;
        z-index: 5;
    }
    .navBar .navBar__nav ul {
        flex-flow: column nowrap;
        width: 100%;
    }
    .navBar .navBar__nav ul li {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .navBar .navBar__nav ul li .nav__link {
        height: 40px;
    }
    .navBar .navBar__nav ul li .nav__link.active:before {
        display: none;
    }
    .navBar .navBar__btn,
    .navBar .navBar__close {
        display: block;
    }
    .section#location,
    .section#schedule,
    .section#speakers,
    .section#sponsors,
    .section#tickets {
        padding-top: 10px;
    }




    .heroBox .heroBox__date .heroBox__date--text {
        font-size: 12px;
    }
    .heroBox .heroBox__heading {
        font-size: 20px;
        margin: 20px 0;
    }
    .btn {
        padding: 10px 18px;
    }

    h1 {
        margin: 60px 0 40px 0;
    }
    h1.small {
        font-size: 18px;
    }
    h1.small:after {
        width: 100%;
    }
    .title-desc {
        font-size: 10px;
    }




    #about .about__event {
        width: 100%;
        height: auto;
        padding: 15% 0 20px 0;
        border: none;
        border-top: 8px solid #005DF2;
        border-bottom: 8px solid #005DF2;
        position: relative;
    }
    #about .about__event img {
        width: 60%;
        left: auto;
        right: -46px;
        top: -120px;
    }
    #about .about__wrap {
        flex-flow: column nowrap;
    }
    #about .about__wrap .about__talks,
    #about .about__wrap .about__workshops {
        width: 100%;
        margin: 20px 0;
    }




    #numbers .numbers {
        justify-content: space-around;
        justify-content: space-evenly;
    }
    #numbers .numbers .numbers__item {
        margin: 0;
        text-align: center;
        font-size: 20px;
        flexbox()
        flex-flow: column wrap;
    }




    #speakers .speakers-wrap {
        flex-flow: column nowrap;
    }
    #speakers .speaker {
        width: 100%;
    }



    .small-nav1 .small-nav1__item,
    .small-nav1 .small-nav2__item,
    .small-nav1 .small-nav3__item,
    .small-nav2 .small-nav1__item,
    .small-nav2 .small-nav2__item,
    .small-nav2 .small-nav3__item,
    .small-nav3 .small-nav1__item,
    .small-nav3 .small-nav2__item,
    .small-nav3 .small-nav3__item {
        font-size: 13px;
    }

    #schedule .agenda {
        width: 100%;
        padding: 0 0 0 30px;
    }
    #schedule .agenda .agenda__title {
        font-size: 18px;
    }
    



    #download .container {
        flex-flow: column-reverse nowrap;
        padding-bottom: 100px;
    }
    #download .download__video,
    #download .heroBox {
        width: 100%;
    }
    #download .download__video {
        height: auto;
        margin-top: 20px;
    }
    #download .download__row {
        position: absolute;
        bottom: 50px;
        text-align: center;
    }



    #testimonials .testimonials {
        flex-flow: column nowrap;
    }
    #testimonials .testimonials-item {
        width: 100%;
        margin: 20px 0;
    }



    #tickets .tickets iframe {
        height: 406px;
    }



    #previous .container {
        width: 100%;
    }
    #previous h1 {
        margin-left: 5%;
        margin-right: 5%;
    }
    #previous .title-desc {
        margin-left: 5%;
        margin-right: 5%;
    }
    #previous .previous__nav {
        margin-left: 5%;
        margin-right: 5%;
    }
    #previous .previous {
        width: 100%;
    }
    #previous .previous .slideshow {
        width: 100%;
        height: 450px;
    }



    #location .location {
        flex-flow: column-reverse nowrap;
    }
    .location .location__map,
    .location .location__details {
        width: 100%;
    }
    .location .location__map {
        margin-top: 30px;
    }



    #footer .container {
        flex-flow: column-reverse nowrap;
    }
    #footer .footer__col,
    #footer .footer__col:first-child,
    #footer .footer__col:last-child,
    #footer .footer__col:nth-child(2) {
        width: 100%;
    }

    #footer .footer__col:nth-child(2) {
        margin: 50px 0;
    }

    #codeOfconduct,
    #attendees {
        width: 90%;
        height: 90%;
        top: 5%;
        bottom: 5%;
        left: 5%;
        right: 5%;
    }
    #codeOfconduct h2,
    #attendees h2 {
        font-size: 20px;
    }

}/* media end */





@media only screen and (max-width: 850px), only screen and (max-device-width: 850px) {

    #schedule .agenda-wrap {
        flex-flow: column nowrap;
    }
    #schedule .agenda {
        margin-bottom: 50px;
    }
    #schedule .agenda .agenda__title {
        text-align: center;
        width: 80%;
    }
    #schedule .agenda .agenda__title:before {
        display: none;
    }
    .agenda-nav-wrap {
        display: block;
    }
    #day1, #day2 {
        display: none;
    }

    .sponsors-wrap .sponsors .sponsors__group .sponsors__item:last-child {
        margin-right: 0
    }
    .sponsors-wrap .sponsors .sponsors__group {
        margin: 0 0 50px 0
        justify-content: flex-start
    }
    .sponsors-wrap .sponsors .sponsors__group .sponsors__item {
        min-width 90px
    }
    .sponsorsSlider .sponsorsSlider__btn {
        display: none
    }


    #jobs {
        padding: 20px 0;
    }
    #note .back-to-top {
        right: 10px;
        bottom: 10px;
    }

}/* media end */


@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {

    .heroBox .heroBox__date .heroBox__date--text {
        font-size: 12px;
    }
    .heroBox .heroBox__heading {
        font-size: 20px;
        margin: 20px 0;
    }
    .heroDate {
        display: none;
    }
    .btn {
        padding: 10px 15px;
    }
    h1 {
        margin: 60px 0 40px 0;
        font-size: 22px;
    }
    h1:after {
        width: 140px;
    }
    h1.small {
        font-size: 18px;
    }
    h1.small:after {
        width: 100%;
    }
    .title-desc {
        font-size: 10px;
    }


    #tickets .tickets iframe {
        height: 487px;
    }


    #about .about__event {
        padding: 20px 0;
        margin: 50px 0 0 0;
        border-top: none;
    }
    #about .about__event img {
        position: relative;
        width: 100%;
        left: auto;
        right: auto;
        top: auto;
        margin-bottom: 20px;
    }


    #numbers .numbers .numbers__item {
        font-size: 14px;
    }


    #previous .previous .slideshow {
        height: 250px;
    }


    .sponsors-wrap .sponsors .sponsors__group {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .sponsors-wrap .sponsors .sponsors__group .sponsors__item {
        margin-bottom: 30px;
    }

    #attendee__list td {
        font-size: 14px !important;
        padding-bottom: 15px;
    }


    #note {
        padding: 100px 0;
    }
    #note .container p {
        font-size: 16px
    }
    #note .container ul li {
        font-size: 16px
    }
    #note .container h2 {
        font-size: 24px;
    }
    #note .container h2.job-title {
        font-size: 30px;
    }


}/* media end */
