/* CODE OF CONDUCT.STYL ======================================= */

#attendees
    overflow-y: hidden !important

#codeOfconduct,
#attendees
    position fixed
    width: 60%
    height 60%
    top: 20%
    bottom: 20%
    left: 20%
    right: 20%
    background: colorWhite
    box-shadow(0 0 40px rgba(0, 0, 0, .3))
    padding: 0 30px 40px 30px
    box-sizing()
    overflow: auto
    display: none
    z-index: 1000

    p
        line-height: 1.5

    h2
        padding: 30px 0 10px 0

    #codeOfconduct__close,
    #attendees__close
        position: absolute
        top: 20px
        right: 20px
        width: 40px
        height 40px
        flexbox()
        flex-center()
        cursor: pointer
        background: url("../img/modal-close.svg") center no-repeat
        background-size: 20px 20px


#codeOfConduct__link,
#note__link
    line-height: normal
    color: colorBlue
    cursor pointer
    font-weight: 400 !important
    margin-top: 10px
    display: block


#attendee__list
    overflow-y: scroll
    max-height: calc(100% - 120px)

#attendees__more
    margin-bottom: 30px
