/* DOWNLOAD.STYL ======================================= */

#download
    background: colorGray02
    margin: 50px 0
    box-sizing()
    padding: 60px 0

    .container
        flexbox()
        justify-content: space-between
        align-items: center

    .download__video,
    .heroBox
        width: 45%

    .download__video
        overflow: hidden
        background: #fff
        height: 370px
        position: relative
        cursor: pointer

        &:hover .download__video-btn
            opacity: 1

        .download__video-btn
            position: absolute
            top: 50%
            left: 50%
            margin: -27px 0 0 -27px
            width: 55px
            height: 55px
            background: url(../img/icons/play_button.svg) center no-repeat
            background-size: 55px
            opacity: .8
            transition(.2s)


    .download__row
        margin-top: 60px
        font-size: 16px
        font-weight: 600

        .download__buttons
            margin-top: 20px

            a
                &:last-child
                    margin-left: 40px

                img
                    width: 120px
