/* FOOTER.STYL ======================================= */

#footer
    background: rgba(216,216,216,0.2)
    padding: 50px 0 20px 0

    .container
        flexbox()
        justify-content: space-between

    .footer__col

        &:first-child,
        &:last-child
            width: 20%
            flex-shrink: 0

        &:nth-child(2)
            width: 32%

        p
            font-size: 12px
            line-height: 17px

    .footer__logo
        width: 120px
        height: 83px
        background: url("../img/shift-logo-blue.svg") center no-repeat
        background-size: 120px

    .footer__copyright
        margin-top: 50px

        a
            color: colorBlue
            font-weight: 700

    .footer-social
        margin-top: 30px
        flexbox()
        justify-content: space-between
        width: 100%

        a
            img
                transition(.2s)
                filter: grayscale(100%)

                &:hover
                    filter: grayscale(0)


    .footer-previous
        flexbox()
        margin-top: 30px

        a
            margin-right: 20px
            color: colorBlue
            font-weight: 400

            &:last-child
                margin-right: 0

    .contact
        font-family: font2
        font-size: 12px
        font-weight: normal
        line-height: 17px

        a
            color: colorBlack

            &:hover
                color: colorBlue

