/* NUMBERS.STYL ======================================= */

#numbers
    width: 100%
    height: 150px
    background: colorGray02
    flexbox()
    flex-center()
    margin-top: 50px

    .numbers
        flexbox()
        flex-center()

        .numbers__item
            margin: 0 30px
            font-size: 34px
            font-weight: 300

            span
                color: colorBlue
                font-weight: 700

