/* PREVOUIS.STYL ======================================= */


.previous
    flexbox()
    flex-flow: column nowrap
    max-width: 750px
    margin: 50px auto 0 auto

    .previous__nav
        flexbox()

        .pn-item
            width: 50px

            &.active span
                color: colorBlue
                font-weight: 700
                border-bottom: 2px solid colorBlue

            span
                font-size: 14px
                font-weight: 400
                cursor: pointer

                &:hover,
                &.active
                    color: colorBlue
                    font-weight: 700
                    border-bottom: 2px solid colorBlue

    .slideshow
        margin-top: 20px
        width: 100%
        height: 500px
        background: colorGray02
        background-size: cover !important
        overflow: hidden
        display: none

        a
            width: 100%
            height: 100%
            flexbox()
            flex-center()
            position: relative

            &:hover .previous-overlay
                opacity: 1
                background-color: colorBlack03

            .previous-overlay
                opacity: 0
                transition(.5s)
                background-color: transparent
                flexbox()
                flex-center()
                width: 100%
                height: 100%


                .previous__btn
                    flexbox()
                    flex-center()
                    flex-flow: column nowrap

                    p
                        color: colorWhite
                        font-size: 16px
                        font-weight: 600
                        margin-top: 20px
                        text-shadow: 0 0 10px colorBlack





    #slideshowAll
        background: colorGray02 url(../img/slideshow/all@1x.jpg) no-repeat center
    #slideshow2012
        background: colorGray02 url(../img/slideshow/2012@1x.jpg) no-repeat center
    #slideshow2013
        background: colorGray02 url(../img/slideshow/2013@1x.jpg) no-repeat center
    #slideshow2014
        background: colorGray02 url(../img/slideshow/2014@1x.jpg) no-repeat center
    #slideshow2015
        background: colorGray02 url(../img/slideshow/2015@1x.jpg) no-repeat center
    #slideshow2016
        background: colorGray02 url(../img/slideshow/2016@1x.jpg) no-repeat center
    #slideshow2017
        background: colorGray02 url(../img/slideshow/2017@1x.jpg) no-repeat center
    #slideshow2018
        background: colorGray02 url(../img/slideshow/2018@1x.jpg) no-repeat center