/* SCHEDULE.STYL ======================================= */

#schedule

    .container
        flexbox()
        flex-flow: column nowrap

    .agenda-wrap
        flexbox()
        flex-flow: row nowrap
        margin-top: 50px


    .agenda-content1,
    .agenda-content2
        display: none

    .agenda
        width: 50%
        border-left: 1px solid colorBlue
        box-sizing()
        padding: 0 30px

        .agenda__title
            font-size: 30px
            font-weight: 700
            position: relative


        .agenda__list

            .agenda__list-item
                margin: 30px 0

                a
                    color: colorBlue
                    font-weight: bold
                    text-decoration: underline

                    &:hover
                        text-decoration: none

                .agenda__time
                    position: relative
                    font-family: font2
                    font-size: 13px
                    font-weight: 700

                .agenda__desc
                    margin-top: 10px

                    .al-title,
                    .al-name,
                    .al-company
                        font-size: 14px

                    .al-title
                        color: colorBlue
                    .al-name
                        color: colorBlack
                        font-style: italic
                    .al-company
                        color: colorBlack
                        font-style: normal




/* Agenda dots */
.agenda__title,
.agenda__time
    &:before
        position: absolute
        display: block
        content: ''
        width: 11px
        height: 11px
        border-radius(100%)
        box-sizing()
        background: colorBlue
        left: -36px
        top: 6px
.agenda__time
    &:before
        top: 0
