/* SUBMISSION.STYL ======================================= */

#submission
    width: 100%
    background: colorGray02
    padding: 60px 0
    margin-top: 50px

    .container
        flexbox()
        flex-center()

.submission
    flexbox()
    flex-flow: column nowrap
    flex-center()
    max-width: 500px

    p
        margin: 30px 0
        line-height: 1.5