/* COLOR-PALETE.STYL ======================================= */

color0 = transparent
colorBlack = #000
colorBlack03 = rgba(0, 0, 0, 0.3)
colorBlack06 = rgba(0, 0, 0, 0.6)
colorWhite = #fff
colorWhite03 = rgba(255, 255, 255, 0.3)
colorWhite06 = rgba(255, 255, 255, 0.6)

colorBlue = #005DF2
colorBlueLight = #2E88ED
colorBlueDark = #0f1f31

colorGray = #696969
colorGrayDark = #2A2A2A

colorGray02 = rgba(216, 216, 216, 0.2)

