/* GLOBAL.STYL ======================================= */


/* overwrites ========================== */
html, body, div, table, p, input
	/* color: colorGray5 */
	font-family: font1
	font-size: 14px


.show
	display: block !important
.hide
	display: none !important
.desktop-hide
	display: none
.desktop-show
	display: block
.hidden
	visibility: hidden
.slide
	right: 0 !important

.section
	margin: 0 auto

	&#speakers,
	&#schedule,
	&#tickets,
	&#location,
	&#sponsors
		padding-top: 50px

.container
	width: 1180px
	margin: 0 auto


.container-jumbo
	max-width: 1340px
	margin: 0 auto

.section
	width: 100%
	position: relative
	clear: both







