/* VARIABLES.STYL ======================================= */

@font-face {
    font-family: 'Averta'
    src: url(../fonts/Averta/Averta-Thin.otf)
    font-weight: 100
}
@font-face {
    font-family: 'Averta'
    src: url(../fonts/Averta/Averta-Light.otf)
    font-weight: 300
}
@font-face {
    font-family: 'Averta'
    src: url(../fonts/Averta/Averta-Regular.otf)
    font-weight: 400
}
@font-face {
    font-family: 'Averta'
    src: url(../fonts/Averta/Averta-Semibold.otf)
    font-weight: 500
}
@font-face {
    font-family: 'Averta'
    src: url(../fonts/Averta/Averta-Bold.otf)
    font-weight: 600
}
@font-face {
    font-family: 'Averta'
    src: url(../fonts/Averta/Averta-ExtraBold.otf)
    font-weight: 700
}



@font-face {
    font-family: 'Maison Mono'
    src: url(../fonts/Maison_Mono/MaisonMonoRegular.otf)
    font-weight: 400
}
@font-face {
    font-family: 'Maison Mono'
    src: url(../fonts/Maison_Mono/MaisonMonoBold.otf)
    font-weight: 700
}





/* FONT FAMILY */
font1 = 'Averta', sans-serif
font2 = 'Maison Mono', sans-serif


/* H1 - H6 HEADINGS ========================== */
h1
	font-family: font1
	font-size: 41px
	font-weight: 700
	color: colorBlack
	position: relative
	margin: 60px 0 50px 0

	& span
		color: colorBlue

	&:after
		position: absolute
		content: ''
		display: block
		width: 190px
		height: 6px
		background: colorBlue
		margin: 20px 0 0 0

	&.small
		font-size: 30px

		&:after
			position: absolute
			content: ''
			display: block
			width: 476px
			height: 6px
			background: colorBlue
			margin: 10px 0 0 0

h2
	font-family: font1
	font-size: 30px
	font-weight: 700
	color: colorBlue

	&.small
		font-size: 21px
		color: colorBlack
		margin-bottom: 15px

		span
			color: colorBlue

h3
	font-family: font1
	font-size: 13px
	font-weight: 700
	color: colorBlack
	margin-bottom: 20px

	&.large
		font-size: 16px
		font-weight: 700
		margin-top: 15px

		span
			color: colorBlue

.title-desc
	font-family: font2
	font-size: 15px
	color: colorBlack


/* FONT SIZES ======================================= */
fontSize1 = 21px
fontSize2 = 18px

fontH1 = 56px
fontH3 = 21px

fontJumbo = 64px
fontTextbox = 38px
fontTextboxSmall = 21px
fontNumber = 21px

fontButton = 18px

fontGraySmall = 15px

fontInput = 21px





